body{
    background-color: #19a2ae;
    height: 100vh;
    color: #6a6f81;
    font-family: 'Kumbh Sans';
    font-weight: 400;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;    
    background: url(../images/bg-pattern-bottom.svg) no-repeat bottom right;
    background-size: 700px 700px;
    background: url(../images/bg-pattern-top.svg) no-repeat top left -200px ;
    /* background-size: 900px 900px; */
}

.card{
    height: 350px;
    width: 340px;
    background-color: #fff;
    border-radius: 20px;
    
}

.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil .foto-perfil{
    width: 80px;
    border-radius: 50px;
    margin-top: -40px;
}

.bg-card{
    width: 340px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

.item{
    flex-direction: column;
    display: flex;
    align-items: center;
    font-weight: 700;

    
}

.name{
    justify-content: space-around;
    text-align:  center;
    font-weight: 700;
    margin: 10px;
}

.age{
    font-weight: 400;
}


.img1{
    width: 600px;
}

hr{
    color: #6a6f81;
    margin: 20px 0px;
}

span{
    font-weight: 400;
}

