body{
    background-color: #19a2ae;
    height: 100vh;
    color: #6a6f81;
    font-family: 'Kumbh Sans';
    font-weight: 400;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
    position: relative;
    overflow: hidden;
}
.circulo-alto{
    position: absolute;
    left: -288px;
    top: -504px;
}

.circulo-baixo{
    position: absolute;
    right: -235px;
    bottom: -630px;
}
.card{
    height: 350px;
    width: 340px;
    background-color: #fff;
    border-radius: 20px;
    z-index: 3;
}

.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil .foto-perfil{
    width: 80px;
    border-radius: 50px;
    margin-top: -40px;
}

.bg-card{
    width: 340px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

.item{
    flex-direction: column;
    display: flex;
    align-items: center;
    font-weight: 700;

    
}

.name{
    justify-content: space-around;
    text-align:  center;
    font-weight: 700;
    margin: 10px;
}

.age{
    font-weight: 400;
}


.img1{
    width: 600px;
}

hr{
    color: #6a6f81;
    margin: 20px 0px;
}

span{
    font-weight: 400;
}

